apiVersion: v1
kind: Service
metadata:
  name: dt-frontend-proxy
  labels:
    app: dt-frontend-proxy
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: dt-frontend-proxy